.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Bestfaq-maintitle {
  align-items: left;
  margin-left: 6.5em;
}

.info-box {
  padding: 20px;
}

.info-content {
  /* display: flex;
  align-items: center;
  margin: calc(25%-20px); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  columns: 4;
  column-gap: auto;
  align-items: center;
}

.info-rectangle {
  position: relative;
  width: 250px; /* 너비 조정 */
  height: 100px; /* 높이 설정 */
  background-color: #232a3f;
  display: flex;
  overflow: auto; /* 텍스트가 넘칠 경우 스크롤바 추가 */
  width: calc(20% - 20px);
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
  color: #7d84ab;
  border: solid 1px #7d84ab;
  border-radius: 10px;
}

.info-rectangle:hover {
  background-color: #232a3f;
  color: #e6a15c;
}

.FAQcategory-list {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.FAQcategory-list-item {
  list-style-type: none;
}
