.Cart-Maintitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 2em;
}

.Cart-MainImage {
  height: 80px;
  width: 80px;
  margin: 0 auto; /* 가운데 정렬 */
  background-image: url(https://i.postimg.cc/13126ff9/images.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 2em;
}

/*장바구니 div 간격*/
.cart-product-image {
  float: left;
  width: 20%;
}
.cart-product-details {
  float: left;
  width: 35%;
}
.cart-product-price {
  float: left;
  width: 12%;
}
.cart-product-quantity {
  float: left;
  width: 10%;
}
.cart-product-removal {
  float: left;
  width: 9%;
}
.cart-product-line-price {
  float: left;

  text-align: right;
}
/*장바구니 header 간격*/
.cart-product-image-label {
  margin-left: 8%;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.cart-product-details-label {
  margin-left: 6.6%;
  font-size: 22px;
}

.cart-product-price-label {
  margin-left: 29.5%;
  font-size: 22px;
}

.cart-product-quantity-label {
  margin-left: 6%;
  font-size: 22px;
}

.cart-product-line-price-label {
  margin-left: 14.2%;
  font-size: 22px;
}

.cart-product-checkbox input[type='checkbox'] {
  transform: scale(1.5); /* 체크박스 크기 키우기 */
  float: right;
  margin-right: 10px; /* 체크박스와 가격 사이의 간격 조절 */
} /* 체크박스와 가격 사이의 간격 조절 */

.cart-group:before,
.cart-group:after {
  content: '';
  display: table;
}
.cart-group:after {
  clear: both;
}
.cart-group {
  zoom: 1;
}

/* Column headers */
.cart-column-labels {
  padding-bottom: 35px;
  margin-bottom: 15px;
}

/* Product entries */
.cart-product {
  margin-bottom: 150px;
  padding-bottom: 10px;
  clear: both;
}

.cart-product-image {
  text-align: center;
}

.cart-product-image img {
  width: 100px;
}

.cart-product-details .cart-product-title {
  margin-right: 20px;
  font-weight: bold;
}

.cart-product-details .cart-product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}

.cart-product-quantity input {
  width: 40px;
  height: 30px;
}

.cart-remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
}

.cart-remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.cart-totals {
  margin-top: 20px;
}

.cart-totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.cart-totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.cart-totals-item .cart-totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.cart-totals-item-total {
  font-weight: bold;
}

.cart-checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.cart-checkout:hover {
  background-color: #494;
}
.Cart-empty-message {
  font-size: 30px;
  text-align: center;
}
