.cart {
  position: relative;
  max-width: 90%;
  margin-top: 20px;
  margin-left: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CartMaintitle {
  font-family: Serif;
  font-weight: bold;
  padding: 1em 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #d0d0d0;
}

/* 상품 레이블 */
.Cartcolumn-labels {
  display: flex;
  flex-direction: row;
}

.Cproduct-details {
  margin-left: 12em;
}

.Cproduct-price {
  margin-left: 6.5em;
}

.Cproduct-quantity {
  margin-left: 19em;
}

.Cproduct-line-price {
  margin-left: 7em;
}

/* 상품 레이블 끝 */
.total-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.product-line {
  padding: 2em 0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 15px;
}

.product-image-container {
  position: relative;
}

.product-image {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

.soldout-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* 배경색의 불투명도를 낮춤 */
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
  width: 100%; /* 이미지의 중앙에 위치하기 위해 너비를 조정 */
  height: auto; /* 텍스트만큼의 높이로 설정 */
}

.product-details {
  display: flex;
  align-items: center;
}

.Cartcheckbox {
  margin-top: 25px;
  margin-left: 30px;
  justify-items: center;
}

.product-details p {
  width: 50px;
  margin-right: 55px;
  margin-left: 70px;
  text-align: center;
}

.buy-btn {
  margin-top: 30px;
  padding: 20px 50px;
  font-size: 18px;
  border: none;
  background-color: #524a4a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20em;
}

.delete-item-btn {
  margin-top: 25px;
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.delete-item-btn:hover {
  color: darkred;
}

.Cartpurchaseline {
  display: flex;
  justify-content: flex-end;
}

.Cartpurchase-btn {
  margin-right: 4em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 18px;
  border: none;
  background: #5ba678;
  color: #fff;
  cursor: pointer;
}
