.Category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 500;
}

.Secend-Category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 5%;
}

.Category-item-line::after {
  content: '';
  display: block;
  width: 82%;
  height: 1px;
  background-color: #949494e0; /* 선의 색상 */
  margin: 0 auto; /* 수평 방향으로 가운데 정렬 */
  margin-bottom: 4%;
}

.JacketImage {
  width: 85%;
  margin: 0 auto; /* 가운데 정렬 */
  height: 400px;
  background-image: url(https://i.postimg.cc/c4Tpk4V7/pexels-samrana3003-1040871.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 10em;
  margin-bottom: 8em;
}

.Category-guides-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 85%; /* Section의 너비를 85%로 설정하여 카드들이 안쪽에 위치하도록 함 */
}

/*상품 카드*/
.Category-guides-card {
  width: 23%; /* 4개의 카드가 한 줄에 배치되도록 설정 (간격 포함) */
  margin-bottom: 3em;
  box-sizing: border-box;
  padding: 0.5em; /* 카드 사이의 간격을 추가 */
}

.Category-product-info {
  width: 100%;
}

.Category-productName {
  font-size: 15px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 3%;
  margin-top: 3%;
}

.Category-productPrice {
  font-size: 12px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.Category-viewCount {
  font-size: 12px;
  font-weight: bold;
}

.views-icon {
  width: 30px;
  height: 30px;
}
