.Inquiry-page {
  display: flex;
}

.Inquiry-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
  margin-left: 220px; /* Aside의 넓이만큼 왼쪽 여백 추가 */
}

.InquiryMainImage {
  width: 100px;
  height: 100%;
  background-image: url(https://i.postimg.cc/zf8QxyRy/download.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Inquiry-Maintitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Inquiry-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.Inquiry-table a {
  color: inherit; /* 기존 색상 유지 */
  text-decoration: none; /* 밑줄 제거 */
}
.Inquiry-table a:hover {
  text-decoration: underline; /* 마우스를 올렸을 때 밑줄 표시 */
}

.Inquiry-table th,
.Inquiry-table td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: left; /* 텍스트를 왼쪽 정렬로 설정 */
  font-size: 16px;
  font-style: Serif;
}

.Inquiry-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.Inquiry-post-info-item {
  width: 140px;
}

.Inquiry-post-title {
  font-weight: bold;
}

.Inquiry-post-content {
  text-align: left; /* 텍스트를 왼쪽 정렬로 설정 */
}

.Inquiry-post-date {
  color: #888;
  font-size: 14px;
}

.no-posts {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #524a4a;
}
