.InquiryMainImage {
  width: 100px;
  height: 100%;
  background-image: url(https://i.postimg.cc/zf8QxyRy/download.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Inquiry-article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 220px; /* Aside의 넓이만큼 왼쪽 여백 추가 */
}

.board-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.board-info {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
  background-color: transparent;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}

/*문의하기 헤더들*/

.board-info-item-type {
  font-style: Serif;
  font-size: 17px;
  flex: 1;
  margin: 12%;
}

.board-info-item-title {
  font-style: Serif;
  font-size: 17px;
  flex: 1;
  margin: 13%;
}

.board-info-item-name {
  font-style: Serif;
  font-size: 17px;
  flex: 1;
  margin: 12%;
}

.Inquiry-post {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-top: 1px solid #e0e0e0e0;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.Inquiry-post-info-item {
  flex: 1;
  margin-left: 15%; /* Adjusted from 15px to 2% for uniform spacing */
  padding: 1%; /* Adjusted from 10px to 2% for uniform spacing */
  font-size: 16px;
  font-style: Serif;
  text-align: center;
  align-items: center;
  color: black;
}

.Inquiry-post-title {
  margin-left: 8%; /* Adjusted from 15px to 2% for uniform spacing */
  font-size: 16px;
  font-style: Serif;
  padding: 2%; /* Adjusted from 10px to 2% for uniform spacing */
  flex: 3;
  color: black;
}

.Inquiry-post-username {
  flex: 1;
  text-align: center;
  margin: 2%; /* Adjusted from 15px to 2% for uniform spacing */
  font-size: 16px;
  font-style: Serif;
  margin-right: 18%;
  color: black;
}

.no-posts {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  color: #524a4a;
}
