/* 회원가입 컨테이너 스타일 */
#join-container {
  margin: 20px auto; /* 가운데 정렬을 위해 마진 설정 */
  text-align: left;
  background-color: white;
  padding: 20px;
  border-top: 35px solid #232a3f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  box-sizing: border-box;
}

/* 회원가입 제목 스타일 */
#join-heading {
  font-size: 36px; /* 로고 크기를 조정 */
  font-weight: bold;
  text-align: center; /* 로고를 가운데 정렬 */
  color: #232a3f;
  margin-bottom: 20px;
}

/* 입력 필드 공통 스타일 */
.join-input,
.join-select {
  width: 100%;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: inline-block;
}

/* 전화번호와 생년월일 컨테이너 스타일 */
.date-container,
#phone-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: flex-start;
}

/* 전화번호 입력 필드 및 생년월일 선택 필드 스타일 */
.date-container select,
#phone-container input {
  width: calc(50% - 5px);
  box-sizing: border-box;
}

.YYYYMMDD-title {
  margin-bottom: 5%;
  margin-top: 5%;
  color: #000;
}

/* 생년월일과 전화번호 레이블 컨테이너 스타일 */
.date-label-container,
#phone-label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* 생년월일과 전화번호 각 레이블 스타일 */
.date-label-container label,
#phone-label-container label {
  width: calc(33.33% - 5px);
}

/* 로그인 버튼 스타일 설정 */
#signup-button {
  text-decoration: none;
  padding: 10px 40px; /* 버튼 크기 조절 */
  background-color: transparent;
  color: #232a3f; /* 버튼의 텍스트 색상 */
  border: 2px solid #232a3f; /* 버튼의 테두리 스타일 및 색상 */
  border-radius: 10px; /* 버튼의 둥근 모서리 설정 */
  font-weight: bold;
  margin-right: 15%;
}

#signup-button:hover {
  background-color: #232a3f; /* hover 상태일 때 배경색 */
  color: #e6a15c; /* hover 상태일 때 글자색 */
}

/* 회원가입 버튼*/
#cancel-button {
  text-decoration: none;
  padding: 10px 40px; /* 버튼 크기 조절 */
  background-color: transparent;
  color: #232a3f; /* 버튼의 텍스트 색상 */
  border: 2px solid #232a3f; /* 버튼의 테두리 스타일 및 색상 */
  border-radius: 10px; /* 버튼의 둥근 모서리 설정 */
  font-weight: bold;
}

#cancel-button:hover {
  background-color: #232a3f; /* hover 상태일 때 배경색 */
  color: #e6a15c; /* hover 상태일 때 글자색 */
}
