.Likesection {
  display: flex;
  justify-content: center;
}

.LikeMaintitle {
  margin-bottom: 0.5em;
}

.LikeMainImage {
  width: 50px;
  height: 50px;
  background-image: url(https://i.postimg.cc/hj4HtXSk/download.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Like.css */
.likeItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.likeItemCard {
  width: 350px; /* 카드의 너비를 늘려 더 많은 정보를 표시 */
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* 테두리 스타일 추가 */
  transition: transform 0.2s, border-color 0.2s; /* 호버 트랜지션 효과 추가 */
  padding: 10px; /* 카드 내부 여백 추가 */
  box-sizing: border-box; /* 박스 크기 조정 */
  display: flex;
  flex-direction: column;
  position: relative;
}

.likeItemCard:hover {
  border-color: #888; /* 호버 시 테두리 색 변경 */
  transform: scale(1.006); /* 호버 시 크기 조정 */
}

.LikeproductImage {
  width: 150px;
  height: 150px;
  margin-bottom: 10px; /* 이미지 아래 여백 추가 */
}

.Likebutton-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* 버튼 위쪽에 여백 추가 */
}

/*찜하기 취소버튼*/
.Likeunlike-item-btn {
  background-color: transparent; /* 배경 없음 */
  color: #ff5c5c; /* 빨간색 글자색 */
  border: 1px solid #ff5c5c; /* 빨간색 테두리 설정 */
  padding: 5px 10px; /* 내부 여백 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  transition: background-color 0.3s, color 0.3s; /* 배경색, 글자색 변경 시 부드러운 전환 효과 */
}

.Likeunlike-item-btn:hover {
  background-color: #ffffff; /* 호버 시 빨간색 배경색 */
  color: hsl(0, 100%, 50%); /* 호버 시 흰색 글자색 */
}

.Likeunlike-item-btn::before {
  content: '\1F494'; /* 💔 아이콘 */
  margin-right: 5px; /* 아이콘과 버튼 텍스트 사이 간격 설정 */
}

/* 장바구니 추가 버튼에 스타일 적용 */
.Likeadd-to-cart-btn {
  background-color: transparent; /* 배경 없음 */
  color: #4caf50; /* 초록색 글자색 */
  border: 1px solid #4caf50; /* 초록색 테두리 설정 */
  padding: 5px 25px; /* 내부 여백 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  transition: background-color 0.3s, color 0.3s; /* 배경색, 글자색 변경 시 부드러운 전환 효과 */
  position: relative;
}

.Likeadd-to-cart-btn:hover {
  background-color: #4caf50; /* 호버 시 초록색 배경색 */
  color: #fff; /* 호버 시 흰색 글자색 */
}

.LikeproductInfo {
  flex-grow: 1; /* LikeproductInfo가 남은 공간을 차지하도록 합니다. */
}
.no-like-items {
  margin-top: 35%;
  font-size: 35px;
}
