/* 모달 창에 관한 그거*/
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative; /* 모달 내부 요소들의 위치를 상대적으로 설정 */
  background-color: white;
  padding: 20px;
  width: 45em; /* 너비를 300px로 설정 */
  height: 20em; /* 높이를 200px로 설정 */
  border: 3px solid #4c536e; /* 테두리 두껍게 설정 */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal-container {
  width: 100%;
  height: 100%;
  background-color: #232a3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-btn {
  position: absolute; /* 절대 위치로 설정 */
  bottom: 10px; /* 아래에서 10px 떨어진 위치 */
  right: 10px; /* 오른쪽에서 10px 떨어진 위치 */
}

.order-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: #e6a15c; /* 버튼의 텍스트 색상 */
  border: 2px solid #e6a15c; /* 버튼의 테두리 스타일 및 색상 */
  border-radius: 10px; /* 버튼의 둥근 모서리 설정 */
  font-weight: bold;
}

.order-btn:hover {
  background-color: #e6a15c; /* hover 상태일 때 배경색 */
  color: #232a3f; /* hover 상태일 때 글자색 */
}

.modal-content p {
  margin-bottom: 45px;
  font-size: 18px;
}

.modal-content b {
  font-size: 25px;
}

.modal-content hr {
  border: none;
  border-top: 1px solid #232a3f; /* 선의 스타일 및 색상 설정 */
  margin: 10px 0; /* 선 위 아래로 10px의 간격 설정 */
}
