.content {
  display: flex;
  flex-grow: 1;
}

.Question-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Question-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.Question-Maintitle {
  position: absolute;
  width: 500px;
  top: 22%;
  left: 41%;
  margin-left: -100px;
  background: transparent;
  text-align: center;
  padding: 15px 5px 0;
  font-family: 'Lobster', cursive;
  color: #555;
  font-size: 3.5em;
  font-weight: bold;
}

.Question-Maintitle-p {
  margin-top: 5em;
}

/*문의유형*/
.Question-type {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article {
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  border-bottom: 2px solid #000000;
}

.question-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 95%;
  font-size: 13px;
  margin-bottom: 5em;
  margin-left: 3em;
  box-shadow: 0 18px 22px rgba(0, 0, 0, 0.1);
}

/*제목, 문의하기 내용*/

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.MyQuestion-Title {
  font-family: serif;
  font-size: 25px;
  font-weight: 600;
  color: #232a3f;
  transition: transform 0.2s ease-in-out, color 0.2s;
}

.form-field-input-text {
  display: block;
  width: 100%;
  height: 36px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  transition: border-color 0.2s;
}

/*댓글 창*/

.form-field-input-text {
  border: none;
  border-bottom: 1px solid black; /* 밑줄 스타일 적용 */
  outline: none; /* 입력 필드에 포커스가 되었을 때 테두리 제거 */
}

.MyQuestionTop {
  display: flex;
}

.edit-button {
  font-size: 18px;
  font-weight: bold;
  margin-left: auto; /* 오른쪽으로 이동 */
  cursor: pointer;
}

.comment-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.comment-item {
  display: flex;
  align-items: flex-start;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-profile {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment-content {
  flex: 1;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comment-name {
  font-weight: bold;
}

.comment-date {
  color: #888;
  font-size: 0.9em;
}

.comment-text {
  margin-bottom: 5px;
}

.reply-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: 0.9em;
}

/*답글 div*/

.Register-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Registertextarea {
  height: 40px;
}

.Register-reply-btn {
  margin-left: 75em;
  border: 1px solid #524a4a;
  color: #524a4a;
  background-color: transparent;
  padding: 2px 15px;
}

.Register-reply-btn:hover {
  border: 1px solid #ff0000;
  color: #ff0000;
}

.submit-btn {
  margin-top: 10px;
}
