.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.payment-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.payment-info-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.Payment-payment-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Payment-ItemImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.Payment-product-info {
  flex: 1;
}

.Payment-productName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.Payment-productSize,
.Payment-productColor,
.Payment-productQuantity,
.Payment-productPrice {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 3px;
}

.Orderer-section,
.Delivery-section,
.Final-paymentamount-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.Orderer-title,
.Delivery-title,
.Final-paymentamount-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.Orderer-info,
.DeliveryAndButton,
.Final-paymentamount-info {
  display: flex;
  flex-direction: column;
}

.Orderer-Name,
.Orderer-Phone,
.Orderer-Email,
.Delivery-address-input,
.Delivery-extra-address-input,
.Delivery-ListBox-input {
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.Delivery-address-input {
  width: 100%;
}

.Delivery-extra-address-input {
  margin-top: 10px;
  width: 100%;
}

.Delivery-ListBox-input {
  width: 100%;
}

.Findpostalcode {
  margin-left: auto;
}

.Final-paymentamount-info {
  text-align: center;
}

.Final-paymentamount-price,
.Final-paymentamount-delivery-fee {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #666;
}

.Final-paymentmount-total-won {
  font-size: 1.5rem;
  font-weight: bold;
  color: #298aca;
}

.Payment-button {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #298aca;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1e70bf;
}

@media (max-width: 768px) {
  .payment-container {
    margin-top: 30px;
  }

  .payment-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .Orderer-info,
  .DeliveryAndButton,
  .Final-paymentamount-info {
    padding: 15px;
  }
}

.Delivery-ListBox-input-onother {
  width: 100%;
}
.payment-4 {
  width: 50%;
}
