.container {
  display: flex;
  justify-content: center; /* 요소들을 수평 가운데 정렬 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
}

aside {
  flex: 1;
}

section {
  flex: 1;
}

.property-card {
  margin-left: 2em;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  align-items: center;
  width: 35em;
  height: 31em;
}

.property-image {
  width: 100%;
  height: 100%;
}

.description-card {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* n개의 칸으로 나눕니다. */
  gap: 20px; /* 칸 사이의 간격을 설정합니다. */
  width: 120%; /* 페이지의 가로 폭의 45%를 차지하도록 너비 설정 */
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 배치 */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  align-items: center;
  vertical-align: top; /* 상단 정렬을 위해 추가 */
  margin-top: 3em;
  margin-right: 10em;
}

/* 구매하기 버튼의 스타일 */
.purchase-btn {
  margin-top: 30px;
  margin-right: 20px;
  padding: 10px 20px; /*왼쪽이 높이 오른쪽이 길이 값임*/
  font-size: 18px;
  border: none;
  background-color: #524a4a; /* 구매하기 버튼의 배경색 */
  color: white;
  cursor: pointer;
  white-space: 123213;
}

/* 찜하기 버튼의 스타일 */
.like-btn {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #524a4a;
  color: #333;
  cursor: pointer;
}

/* 장바구니 담기 버튼의 스타일 */
.cart-btn {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #524a4a;
  color: #333;
  cursor: pointer;
}

.product-card {
  display: left;
  width: 77%;
  height: 400px;
  margin-left: 30px;
  margin-top: 20px; /* description-card와의 간격을 조정 */
  gap: 20px; /* 칸 사이의 간격을 설정합니다. */
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 배치 */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.review {
  width: 77%;
  height: 400px;
  vertical-align: top;
  margin-left: 190px;
  margin-top: 20px; /* description-card와의 간격을 조정 */
  gap: 20px; /* 칸 사이의 간격을 설정합니다. */
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 배치 */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

/* 퀵 메뉴 스타일 */
.quick-menu {
  position: fixed;
  top: 50%;
  right: 10px; /* 오른쪽에 여유를 주기 위한 값 */
  transform: translateY(-50%);
  padding: 10px;
}

.quick-menu ul {
  list-style-type: none;
  padding: 0;
}

.quick-menu ul li {
  margin-bottom: 10px;
}

.quick-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.quick-menu a:hover {
  color: #ff0000;
}
/* 퀵 메뉴 스타일 */

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
}
