#propertyform {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 20px auto;
  width: 40%; /* 전체 너비의 n%로 조정 */
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

textarea {
  resize: vertical; /* 수직 크기 조절 가능 */
}

.price-info-form,
.detail-info-form,
.description-form {
  margin-top: 20px;
  border-top: 1px solid #ccc; /* 상단 경계선 추가 */
  padding-top: 20px; /* 상단 패딩 추가 */
}

.detail-info-form input {
  margin-top: 5px;
}

.gray-text {
  color: #888;
}

#property-image-preview {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
