/* eslint-disable-next-line */

body {
  height: 2000px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  position: relative;
}

header {
  display: flex; /* Flexbox 사용 */
  flex-wrap: wrap; /* 요소가 한 줄을 넘어가면 줄 바꿈 */
  position: relative;
  width: 100%;
}

h1 {
  margin: 0;
}

/*GNB라인*/

#gnb {
  display: flex;
  top: 150px; /* 수정된 부분: branding 아래에 위치하도록 조정 */
  padding: 45px;
  margin: 10px 0; /* 상하로 10px 마진 */
}

#gnb ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#gnb li {
  margin-right: 15px;
  position: relative;
}

#gnb li:hover ul {
  display: block;
}

#gnb a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 16px;
}

#gnb a:hover {
  color: #ff0000;
}

/* 서브 메뉴 스타일 */
#gnb ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

#gnb ul ul li {
  margin: 0;
}

/* 서브 메뉴 각 항목 스타일 */
#gnb ul ul a {
  color: #333;
  font-weight: normal;
}

#gnb ul ul a:hover {
  color: #ff0000;
}

/* OUTTER 서브 메뉴 스타일 */
#gnb #outer ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

#gnb #outer:hover ul {
  display: block;
}

/*GNB라인 끝*/

#branding {
  color: #524a4a;
  font-size: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center; /* 요소들을 수평 가운데 정렬 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
}

aside {
  flex: 1;
}

section {
  flex: 1;
}

.property-card {
  margin-left: 2em;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  align-items: center;
  width: 35em;
  height: 31em;
}

.property-image {
  width: 100%;
  height: 100%;
}

.description-card {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* n개의 칸으로 나눕니다. */
  gap: 20px; /* 칸 사이의 간격을 설정합니다. */
  width: 91%; /* 페이지의 가로 폭의 45%를 차지하도록 너비 설정 */
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 배치 */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  align-items: center;
  vertical-align: top; /* 상단 정렬을 위해 추가 */
  margin-top: 3em;
  margin-right: 10em;
}

/* 구매하기 버튼의 스타일 */
.purchase-btn {
  margin-top: 30px;
  margin-right: 20px;
  padding: 10px 20px; /*왼쪽이 높이 오른쪽이 길이 값임*/
  font-size: 18px;
  border: none;
  background-color: #524a4a; /* 구매하기 버튼의 배경색 */
  color: white;
  cursor: pointer;
}

/* 찜하기 버튼의 스타일 */
.like-btn {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #524a4a;
  color: #333;
  cursor: pointer;
}

/* 장바구니 담기 버튼의 스타일 */
.cart-btn {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #524a4a;
  color: #333;
  cursor: pointer;
}

.product-container {
  display: flex;
  margin-top: 20px; /* description-card와의 간격을 조정 */
  margin-right: 18em;
  width: 110%;
}

.product-card {
  width: 70%;
  height: 500px;
  margin-left: 190px;
  margin-top: 20px; /* description-card와의 간격을 조정 */
  gap: 20px; /* 칸 사이의 간격을 설정합니다. */
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 배치 */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.review {
  width: 77%;
  height: 400px;
  vertical-align: top;
  margin-left: 190px;
  margin-top: 20px; /* description-card와의 간격을 조정 */
  gap: 20px; /* 칸 사이의 간격을 설정합니다. */
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 배치 */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.rating {
  width: 40%; /* 페이지의 가로 폭의 45%를 차지하도록 너비 설정 */
  height: 400px;
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 배치 */
  vertical-align: top; /* 상단 정렬을 위해 추가 */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  align-items: center;
  margin-top: 1.29em;
  margin-left: 4em;
}

/* 퀵 메뉴 스타일 */
.quick-menu {
  position: fixed;
  top: 50%;
  right: 10px; /* 오른쪽에 여유를 주기 위한 값 */
  transform: translateY(-50%);
  padding: 10px;
}

.quick-menu ul {
  list-style-type: none;
  padding: 0;
}

.quick-menu ul li {
  margin-bottom: 10px;
}

.quick-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.quick-menu a:hover {
  color: #ff0000;
}
/* 퀵 메뉴 스타일 */

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
}

footer {
  position: absolute; /* 페이지 하단에 고정 */
  bottom: 0; /* 페이지 하단으로 고정 */
  width: 100%; /* 전체 너비를 차지 */
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}
