.maintitle-wrapper {
  display: flex;
  flex-direction: row;
}

.Bestfaq-maintitle {
  display: flex;
  align-items: left;
  margin-left: 6.5em;
  font-weight: bold;
  color: #232a3f;
}

.WithdrawETC-maintitle {
  margin-left: 10px;
  align-items: left;
  font-weight: bold;
  color: #e6a15c;
}

.WithdrawETC-maintitle2 {
  margin-left: 10px;
  align-items: left;
  font-weight: bold;
  color: #232a3f;
}

/*여기부터 기존 -> QDelivery 변경하면됨*/

.QDelivery-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.QDelivery-Q1detailP {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding: 2em;
  border: 1px solid #eaeaea;
}

.QDelivery-Q1-container {
  padding: 10px; /* 내부 여백 설정 */
  margin-left: 13em;
  margin-top: 20px;
}

.QDelivery-Q1 {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer; /* 마우스 오버 시 포인터로 변경 */
}

/*Q1 끝*/

.QDelivery-Q2detailP {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding: 2em;
  border: 1px solid #eaeaea;
}

.QDelivery-Q2-container {
  padding: 10px; /* 내부 여백 설정 */
  margin-left: 13em;
  margin-top: 20px;
}

.QDelivery-Q2 {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer; /* 마우스 오버 시 포인터로 변경 */
}

/*Q2 끝*/
