.content {
  display: flex;
  flex-grow: 1; /* article과 section이 남은 공간을 차지하도록 설정 */
}

.Question-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Question-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.HalfImage {
  flex: 1;
  background-image: url(https://i.postimg.cc/Bb6PNvxB/pexels-padrinan-745365.jpg);
  width: 70%;
  height: 100%;
  margin: 0 auto; /* 가운데 정렬 */
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 21em;
  margin-bottom: 15em;
}

.Question-Maintitle {
  position: absolute;
  width: 500px;
  top: 37%;
  left: 41%;
  margin-left: -100px;
  background: transparent;
  text-align: center;
  padding: 15px 5px 0;
  font-family: 'Lobster', cursive;
  color: #555;
  font-size: 3.5em;
  font-weight: bold;
}

.Question-Maintitle-p {
  margin-top: 5em;
}

article {
  height: 10em;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 20px;
  flex-direction: column;
  border-bottom: 2px solid #000000; /* th 아래쪽에 2px 두께의 회색 선 추가 */
}

.question-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 95%;
  height: 700px;
  font-size: 13px;
  margin-bottom: 5em;
  margin-left: 3em;
  box-shadow: 0 18px 22px rgba(0, 0, 0, 0.1); /* 박스 쉐도우 추가 */
}

.additional-buttons {
  margin-top: 3em; /* 상단 여백 설정 */
  margin-bottom: 3em;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  position: relative;
}

.additional-buttons button {
  margin: 0 10px; /* 버튼 간격 설정 */
  padding: 5px 10px; /* 버튼 내부 여백 설정 */
  border: solid 1px #232a3f; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 모서리 설정 */
  background-color: transparent; /* 배경색 설정 */
  color: #232a3f; /* 글자색 설정 */
  cursor: pointer; /* 커서 모양 설정 */
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #232a3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5.2em;

  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

button[type='submit']:hover {
  background-color: #e6a15c;
}

#questionTitle {
  width: 500px;
}
.additional-buttons button.active {
  background-color: #e6a15c;
  color: #fff;
}

.QuestionContent-textarea {
  width: 40%;
}
