@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);

.content {
  display: flex;
  flex-grow: 1;
}

.Question-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Question-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.Question-Maintitle {
  position: absolute;
  width: 500px;
  top: 22%;
  left: 41%;
  margin-left: -100px;
  background: transparent;
  text-align: center;
  padding: 15px 5px 0;
  font-family: 'Lobster', cursive;
  color: #555;
  font-size: 3.5em;
  font-weight: bold;
}

.Question-Maintitle-p {
  margin-top: 5em;
}

/*문의유형*/
.Question-type {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article {
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  border-bottom: 2px solid #000000;
}

.question-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 95%;
  font-size: 13px;
  margin-bottom: 5em;
  margin-left: 3em;
  box-shadow: 0 18px 22px rgba(0, 0, 0, 0.1);
}

.additional-buttons {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  position: relative;
}

.additional-buttons button {
  margin: 0 10px;
  padding: 5px 10px;
  border: solid 1px #232a3f;
  border-radius: 5px;
  background-color: transparent;
  color: #232a3f;
  cursor: pointer;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #232a3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

button[type='submit']:hover {
  background-color: #e6a15c;
}

/*제목, 문의하기 내용*/
#questionTitle {
  width: 500px;
}

.additional-buttons button.active {
  background-color: #e6a15c;
  color: #fff;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .form-field-input-text {
  display: block;
  width: 100%;
  height: 36px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  transition: border-color 0.2s;
}

.contact-form .form-field-input-text:focus {
  outline: none;
  border-color: #e6a15c;
}

.contact-form .form-field-input-text:focus + .label,
.contact-form .form-field-input-text.not-empty + .label {
  transform: translateY(-24px);
  color: #e6a15c;
}

.contact-form .label {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-family: serif;
  font-size: 25px;
  line-height: 26px;
  font-weight: 600;
  color: #232a3f;
  transition: transform 0.2s ease-in-out, color 0.2s;
}

/*문의하기*/

.contact-form .form-field-input-text:focus + .label2,
.contact-form .form-field-input-text.not-empty + .label2 {
  transform: translateY(-24px);
  color: #e6a15c;
}

.contact-form .label2 {
  font-family: serif;
  font-size: 25px;
  font-weight: 600;
  color: #232a3f;
  transition: transform 0.2s ease-in-out, color 0.2s;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact-form .submit-btn:hover {
  background-color: #e6a15c;
}

.form-field-input-textarea {
  border: none;
}
