.RecentProcutMainImage {
  width: 50px;
  height: 50px;
  background-image: url(https://i.postimg.cc/Pxp6Pdkf/download.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Recentsection {
  flex: 1; /* 나머지 공간을 모두 차지하도록 설정 */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 20px;
}

/* RecentItem.css */
.recentProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.recentProductCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  border: 1px solid #ccc;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  box-sizing: border-box;
}

.recentProductCard:hover {
  border-color: #7d84ab; /* 호버 시 테두리 색 변경 */
  transform: scale(1.02); /* 호버 시 크기 조정 */
}

.recentproductImage {
  width: 150px;
  height: 150px;
}

.recentproductInfo {
  margin-top: 10px;
}

/*장바구니, 찜하기 버튼*/
.RecentCartBtn {
  background-color: transparent; /* 배경 없음 */
  color: #4caf50; /* 초록색 글자색 */
  border: 1px solid #4caf50; /* 초록색 테두리 설정 */
  padding: 5px 25px; /* 내부 여백 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  transition: background-color 0.3s, color 0.3s; /* 배경색, 글자색 변경 시 부드러운 전환 효과 */
  position: relative;
}

.RecentCartBtn:hover {
  background-color: #4caf50; /* 호버 시 초록색 배경색 */
  color: #fff; /* 호버 시 흰색 글자색 */
}

/* 장바구니 아이콘 스타일 */
.RecentCartBtn::before {
  content: '\1F6D2'; /* 장바구니 아이콘 */
  margin-right: 10px; /* 장바구니 아이콘과 버튼 텍스트 사이 간격 설정 */
  position: absolute; /* 아이콘 위치 설정 */
  left: 0; /* 왼쪽 여백 설정 */
  top: 50%; /* 상단 여백 설정 */
  transform: translateY(-50%); /* 수직 가운데 정렬 */
  transition: left 0.5s; /* 위치 변경 시 부드러운 전환 효과 */
}

.RecentCartBtn:hover::before {
  left: -22px; /* 호버 시 왼쪽으로 이동 */
}

.RecentLikeBtn {
  background-color: transparent; /* 배경 없음 */
  color: #b00000; /* 흰색 글자색 */
  border: 1px solid #e0e0e0; /* 테두리 설정 */
  padding: 5px 10px; /* 내부 여백 설정 */
  margin-right: 10px; /* 오른쪽 여백 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  transition: color 0.3s, border-color 0.3s; /* 글자색, 테두리 색 변경 시 부드러운 전환 효과 */
  margin-left: 40px;
}

.RecentLikeBtn:hover {
  background-color: transparent;
  color: #ff0000; /* 호버 시 빨간색 글자색 */
}

/* 하트 아이콘 스타일 */
.RecentLikeBtn::before {
  content: '\2665'; /* 하트 아이콘 */
  margin-right: 5px; /* 하트 아이콘과 Like 문구 사이 간격 설정 */
}

/*no-RecentItem 최근 본 상품이 없습니다.*/
.no-RecentItem {
  margin-top: 35%;
  font-size: 35px;
}
