header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent; /* 배경을 투명으로 설정 */
  z-index: 1000;
  padding: 10px 0; /* 패딩 추가로 내용 정렬 */
}

.headermenu {
  display: flex;
}

/*header 목록들*/
.Home-navi {
  height: 60px;
}
.Home-navi #menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Home-navi #menu li {
  float: left;
  margin-left: 30px;
  line-height: 60px;
}

.Home-navi #menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #434343;
}

/*로그인 정보*/

.userName-li a {
  color: #e6a15c !important; /* 텍스트를 붉은색으로 변경 */
  font-size: 15px !important; /*왠지 모르겠지만 important넣으면 적용됨*/
}

.userName-li a:hover {
  color: #1aa3ff !important;
}

/*search menu*/
.menu-form {
  margin-top: 0.5em;
  border-radius: 20px;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 45px;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;

  .dark & {
    box-shadow: none;
  }
}
/*search input 란*/
.menu-input {
  width: 400px;
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--main-color);

  &:placeholder {
    color: var(--main-color);
    opacity: 0.6;
  }
}

/*search 돋보기 버튼*/
.tab-menu-link-search-button {
  background: transparent;
  border: none;
}

.tab-menu-link {
  padding: 45px 20px;
  margin: 0 25px; /*뒤에 px로 좌우로 옮길수있음*/
  text-decoration: none;
  color: #8f98b3;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  transition: color 0.2s;
  position: relative;
  font-size: 18px;
}

.search-button {
  padding-top: 35px;
  padding-bottom: 35px;
}

.tab-menu-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #8f98b3;
  transition: width 0.2s, background-color 0.2s;
  width: 0;
}
/*로그아웃 버튼*/
.sign-out-button {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 12px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  text-decoration: none;
  margin-top: 1.3em;
}

.sign-out-icon {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}

.sign-out-button:hover {
  text-decoration: underline;
}

/*GNB라인*/

#gnb {
  padding: 20px;
  margin: 30px 30px;
}

#gnb ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#gnb li {
  margin-left: 100px;
  margin-right: 30px;
  position: relative;
}

#gnb li:hover ul {
  display: block;
}

#gnb a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #545454;
  display: inline;
}

#gnb a:hover {
  color: #e6a15c;
}

/* 서브 메뉴 스타일 */
#gnb ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

#gnb ul ul li {
  width: 180px;
  margin: 0;
}

#gnb ul ul a {
  color: #232a3f;
}

#gnb ul ul a:hover {
  color: #e6a15c;
}

#logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #545454;
  display: inline;
  cursor: pointer;
  line-height: 60px;
  padding-left: 20px;
}

/* header-li hover 이미지*/

.header-li {
  position: relative; /* 자식 요소의 위치를 조절하기 위해 relative 사용 */
}

/* hover 상태에서 이미지를 표시하는 스타일 */
.header-li:hover .hover-image {
  display: block; /* hover 시 이미지를 표시 */
}

.hover-image {
  display: none; /* 기본적으로 이미지를 숨김 */
  position: absolute;
  top: 50px; /* li 요소 위에 이미지를 표시 */
  left: 50%;
  transform: translateX(-50%);
  width: 50px; /* 이미지 크기 조절 */
  height: auto;
  z-index: 10; /* 이미지가 다른 요소 위에 표시되도록 z-index 설정 */
}
