/* Tab Menu */

/* Container for tab menu */
.tab-menu {
  background-color: #232a3f; /* 배경색을 검은색으로 변경 */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 탭을 왼쪽으로 정렬 */
}

/* Individual tab styles */
.tab-menu-link {
  padding: 40px 20px;
  margin: 0 25px;
  text-decoration: none;
  color: #8f98b3; /* Default color */
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: calc(11px * 4); /* 기본 단위 사용 */
  text-transform: uppercase;
  transition: color 0.2s; /* 색상 변화에 대한 transition */
  position: relative; /* 하위 요소의 위치 지정을 위해 relative로 설정 */
  font-size: 18px;
}

.tab-menu-login {
  margin-right: 50px;
  margin-left: 12em; /* 로그인 링크와 탭 메뉴 사이의 간격 조절 */
}

.tab-menu-login a {
  text-decoration: none;
  padding: 10px 40px; /* 버튼 크기 조절 */
  background-color: transparent;
  color: #e6a15c; /* 버튼의 텍스트 색상 */
  border: 2px solid #e6a15c; /* 버튼의 테두리 스타일 및 색상 */
  border-radius: 10px; /* 버튼의 둥근 모서리 설정 */
  font-weight: bold;
}

.tab-menu-login a:hover {
  background-color: #e6a15c; /* hover 상태일 때 배경색 */
  color: #232a3f; /* hover 상태일 때 글자색 */
}

.tab-menu-indicator {
  position: absolute; /* 절대 위치로 설정하여 부모 요소에 상대적으로 배치 */
  bottom: 0; /* 하단으로 정렬 */
  left: 0; /* 좌측 정렬 */
  height: 2px; /* 초기 높이 */
  background-color: #8f98b3; /* 인디케이터 색상은 기본 값으로 유지 */
  transition: width 0.2s, background-color 0.2s; /* 너비와 배경색의 변화에 대한 transition */
  width: 0; /* 초기 너비를 0으로 설정하여 시작 시 선이 표시되지 않도록 함 */
}

.sign-out-button {
  padding: 5px 10px; /* 작은 버튼으로 크기 조절 */
  background-color: transparent;
  color: #e6a15c; /* 버튼의 텍스트 색상 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 버튼의 둥근 모서리 설정 */
  font-weight: bold;
  font-size: 12px; /* 버튼의 폰트 크기 조절 */
  margin-left: 11em; /* 오른쪽으로 1em만큼 이동 여기보다 더 크게하면 텝 메뉴가 망가짐*/
  margin-top: 0.5em;
  text-decoration: none; /* 밑줄 제거 */
}

.sign-out-button:hover {
  text-decoration: underline; /* hover 상태일 때 밑줄 표시 */
}

/*GNB라인*/

#gnb {
  padding: 20px;
  margin: 30px 30px; /* 1번쨰는 크기가크면 아래로 2번째는 양옆 */
}

#gnb ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#gnb li {
  margin-right: 30px;
  position: relative;
}

#gnb li:hover ul {
  display: block;
}

#gnb a {
  text-decoration: none;
  color: #232a3f;
  font-weight: bold;
  font-size: 16px; /* 폰트 크기를 18px로 조정 */
  margin-right: 70px; /* 링크 사이 간격을 조정 */
}

#gnb a:hover {
  color: #e6a15c;
}

/* 서브 메뉴 스타일 */
#gnb ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

#gnb ul ul li {
  margin: 0;
}

/* 서브 메뉴 각 항목 스타일 */
#gnb ul ul a {
  color: #232a3f;
}

#gnb ul ul a:hover {
  color: #e6a15c;
}

/*GNB라인 끝*/
